h1,
h2,
h3 {
  font-family: "Pangolin", cursive;
  line-height: 18px;
}

h1:first-letter {
  text-transform: capitalize;
}

h4:first-letter {
  text-transform: capitalize;
}

h1,
h2 {
  font-size: 28px;
}

h1 {
  color: #387c6d;
}

h2 {
  color: #e9896a;
  text-transform: capitalize;
}

h3,
h4 {
  color: #343f56;
}

h3 {
  font-size: 50px;
  line-height: 50px;
}

small {
  font-size: 15px;
  line-height: 15px;
  text-align: left;
  color: grey;
}

div.forecast-date {
  text-align: center;
  color: #343f56;
}

div.forecast-temp {
  text-align: center;
  color: #343f56;
}

p.footer {
  color: #3c4e68;
  text-align: center;
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-size: 17px;
}

.footer-link {
  font-family: "Pangolin", cursive;
  color: #387c6d;
  text-decoration: none;
}

.footer-link:hover {
  color: #e9896a;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

input.search-engine {
  background-color: white;
  color: #343f56;
  border: 1px #343f56 solid;
}

.go-button {
  background-color: #343f56;
  color: white;
}

.go-button:hover {
  background-color: #3c4e68;
}

.weather-app {
  border: solid 1.5px #343f56;
  border-radius: 25px;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px 30px 30px;
  background: #ecc5b9d5;
  box-shadow: 8px 6px 6px #3c4e68;
  font-family: "Pangolin", cursive;
}

.current-weather-icon {
  font-size: 150px;
  position: relative;
  top: -10px;
  right: 200px;
}

.btn-info {
  background: #387c6d;
  border: 1px solid #387c6d;
  color: white;
}

.btn-info:hover {
  color: white;
  background: #3b9783;
  border: 1px solid #3b9783;
}

.btn-outline-primary {
  background: white;
  color: #343f56;
  border-color: #343f56;
}

.future-weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
